body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 1024px) {
    height: 100dvh;
  }
}

h1, h2, h3, h4, h5, p, a, span {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}


.cherry-cream-soda-regular {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}

//// Pink color options /////
/// #E85B83
/// #FFBAC9